:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: normal;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-image: url('./images/audience-1853662_1920.jpg');
  /* Image by Pexels from Pixabay
     https://pixabay.com/photos/audience-band-concert-crowd-1853662/
  */
  background-position: center;
  overflow: clip;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /*display: flex;
  align-content: flex-start;
  justify-content: center;
  align-items: stretch;*/
  min-width: 320px;
  min-height: 100vh;
}